# Node modules
node_modules/
.next
# Environment files
.env.local
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# IDE files
.vscode/
.idea/

# Other
coverage

# OAuth Google secret
./google_client_secret.json