@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body Styles */
body {
    background-color: theme('colors.background');
    color: theme('colors.foreground');
}

/* Selection Styles */
::selection {
    background-color: theme('colors.foreground');
    color: theme('colors.primary');
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: theme('colors.background');
}

::-webkit-scrollbar-thumb {
    background: theme('colors.secondary');
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: theme('colors.primary');
}
